@tailwind base;
@tailwind components;
@tailwind utilities;


html {
  scroll-behavior: smooth;  
  scrollbar-color: rgb(150, 149, 149) rgb(45, 45, 45);
  scrollbar-width: thin;
}

.colus {
  font-family: var(--font-colus);
}

.swiper-pagination-bullet-active {
  background-color: #ffffff !important;
}

.swiper-button-prev {
  color: #ffffff !important;

}

.swiper-button-next {
  color: #ffffff !important;

}
.montserrat {
  font-family: var(--font-montserrat);
}

.hover\:scale-x-100:hover {
  transform: scaleX(1);
}

.subrayado {
  display: table;
}


.subrayado::after {
  content: "";
  display: block;
  height: 2px;
  background-color: white;
  transform: scale(0,1);
  transform-origin: center;
  transition: transform .45s;
  
}

.subrayado:hover::after {
  transform: scale(1,1);
}

.linea{
  border-bottom: ridge;
}
/* goldenrod daa520
left top https://t3.ftcdn.net/jpg/05/70/63/18/360_F_570631880_CBjhS90cf2YmsUeQN0wUbPkVAARX8LUM.jpg
left center https://previews.123rf.com/images/mindsparx/mindsparx2303/mindsparx230331863/200696717-fondo-de-textura-de-m%C3%A1rmol-dorado-de-lujo-con-ilustraci%C3%B3n-3d-de-alta-resoluci%C3%B3n.jpg*/
.custom {
  background-image: url("https://t3.ftcdn.net/jpg/05/70/63/18/360_F_570631880_CBjhS90cf2YmsUeQN0wUbPkVAARX8LUM.jpg");
  background-position: left top;
  border: 1px solid #daa520;
  color: black;
}

@layer components {
  .primer-titulo{
    @apply colus text-3xl md:text-5xl lg:text-5xl font-bold text-white tracking-normal lg:tracking-wider leading-8;

  }
  .titulo {
    @apply colus text-3xl md:text-5xl lg:text-4xl xl:text-5xl font-bold text-white tracking-normal lg:tracking-wider leading-8;
  }


  .subtitulo-aboutme {
    @apply montserrat font-medium lg:font-normal text-gray-200 text-xs md:text-xl lg:text-xl;
  }

  .subtitulo {
    @apply montserrat font-medium lg:font-normal text-gray-200 text-sm md:text-2xl lg:text-xl;
  }

  .container{
    @apply mx-auto w-[90%] h-[85%] md:w-[90%] md:h-[90%] lg:h-[80%]  lg:w-[80%]  
  }

  .botones{
    @apply montserrat rounded-xl flex justify-center bg-transparent text-black border-1.5 text-white lg:bg-transparent transition duration-300 ease-in-out lg:hover:bg-[#9B9B9B]  lg:hover:text-black hover:border-black
  }

  .bg-gray-filter {
    @apply filter-none grayscale;
  }

  .bg-gray-filter-hover:hover {
    @apply filter grayscale;
    transition: filter 0.5s;
  }

}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.oppa{
  background-color: rgb(45, 45, 45, .01);
  text-align: center;
}

.empty{
  background:none;
}

.margen{
  margin-top: 3rem;
}

.margen2{
  margin-top: 2rem;
}

.margen3{
  margin-left: 2rem;
}

.card {
  width: 100%;
  text-align: center;
  border-top-left-radius: 0.375rem;
  border-top-right-radius: 0.375rem;
}

.card2 {
  width: 100%;
  text-align: center;
  border-bottom-left-radius: 0.375rem;
  border-bottom-right-radius: 0.375rem;
}